

.background-purple {

    background-color: purple;
}

.background-red {
    background-color: red;
}

.background-yellow {
    background-color: yellow;
}

.background-green {
    background-color: green;
}

.container-fluid {

    height: 100vh;
}